[Unit]
Description=Family Hub Gunicorn Server
After=network.target

[Service]
User=youruser
Group=youruser
WorkingDirectory=/home/youruser/family-hub
Environment="PATH=/home/youruser/family-hub/venv/bin"
ExecStart=/home/youruser/family-hub/venv/bin/gunicorn --workers 3 --bind unix:family-hub.sock -m 007 server:app
Restart=always

[Install]
WantedBy=multi-user.target